body {
    margin: 0;
}
.nav {
    /* overflow: hidden; */
    background-color: #2F86A6;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px;
    padding-right: 20px;
    text-decoration: none;
    font-size: 20px;
}
.nav a:hover {
    background-color: white;
    color: rgb(43, 40, 40);
}
input {
    width: 300px;
    height: 22px;
    border-style: double;
    border-radius: 10px;
}
.index_body {
    background-color: #E8F6EF;
    text-align: center;
}
.index_body h1 {
    font-family: 'DM Serif Display', serif;
    font-size: 42px;
    color: #172774;
}

#break {
    display: block;
    margin-bottom: 7px;
}

#login_body {
    text-align: center;
    background-color: #E8F6EF;
}
#register {
    position: absolute;
    right: 0;
}
#footer_logo {
    display: block;
    position: absolute;
    top: 50px;
    left: 70px;
}
#text {
    position: absolute;
    left: 45px;
}
#footer {
    position: relative;
    background-color: rgb(37, 39, 34);
    height: 200px;
    width: 100%;
}
.footer_contents1 {
    position: absolute;
    color: white;
    text-align: right;
    top: 30px;
    right: 90px;
}
.footer_contents2 {
    position: absolute;
    color: white;
    text-align: right;
    top: 70px;
    right: 70px;
}
.footer_contents4 {
    margin-top: 15px;
    position: absolute;
    color: white;
    text-align: right;
    top: 110px;
    right: 100px;
}
.footer_contents3 {
    position: absolute;
    color: white;
    text-align: right;
    top: 175px;
    right: 600px;
}
.login {
    text-align: center;
    height: 300px;
    width: 400px;
    position: relative;
    margin: auto;
    margin-top: 100px;
    border-style: groove;
    bottom: 100px;
}
.labels {
    display: block;
    font-weight: bold;
}

.sign_in_btn {
    width: 150px;
    height: 30px;
    background-color: #FF5C58;
    border-style: initial;
    border-radius: 5px;
}
.sign_in_btn:hover {
    background-color: #FE8F8F;
}
.required {
    color: tomato
}


.scrolling {
    font-size: large;
}

.seperator {
    width: 5%;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    border-color: gray;
    margin-top: 50px;
    margin-bottom: 50px;
}
.clock {
    position: absolute;
    left: 3px;
    bottom: 0;
}
.guitar {
    position: absolute;
    right: 3px;
    bottom: 0;
}
.drill {
    position: absolute;
    left: 70px;
    bottom: 150px;
}
.music {
    position: absolute;
    right: 70px;
    bottom: 150px;
}
.skate_guy {
    position: absolute;
    left: 3px;
    bottom: 300px;
}
.skate_shoe {
    position: absolute;
    right: 3px;
    bottom: 300px;
}
.link {
    display: block;
}
.icons {
    padding: 5px;
}
.link  {
    margin: auto;
    width: 150px;
    background: #9cc8e6;
    background-image: -webkit-linear-gradient(top, #9cc8e6, #098585);
    background-image: -moz-linear-gradient(top, #9cc8e6, #098585);
    background-image: -ms-linear-gradient(top, #9cc8e6, #098585);
    background-image: -o-linear-gradient(top, #9cc8e6, #098585);
    background-image: linear-gradient(to bottom, #9cc8e6, #098585);
    -webkit-border-radius: 6;
    -moz-border-radius: 6;
    border-radius: 6px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .link:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }